* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: calc(100vh - 70px);
  /* test */
  background-color: aqua;
}
.sidebar {
  height: 100%;
  width: 15%;
  float: left;
  /* test */
  background-color: black;
}
.upgrade-bar {
  height: 10%;
  width: 100%;
  /* test */
  background-color: yellowgreen;
}
footer {
  height: 70px;
  /* test */
  background-color: blue;
}
