* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.mg-left {
  margin-left: 1em;
}
/* MAIN */
main {
  height: calc(100vh - 70px);
  width: auto;
  display: flex;
  /* test */
  background-color: aquamarine;
}
/* UPGRADE BAR */
.upgrade-bar {
  width: 85%;
  height: 60px;

  /* test */
  background-color: yellowgreen;
}
.btn-upgrade {
  padding: 0.5em 1em;
  border-radius: 50px;
  color: white;
  border: 1px solid white;
  float: right;
  margin-top: 0.5em;
}
/* UPGRADE BAR */
/* SIDE BAR */
.sidebar {
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}
.logo {
  align-self: flex-start;
  margin-bottom: 0.5em;
}
.logo img {
  width: 8em;
}
.icon {
  margin-top: 0.5em;
  display: flex;
}
.icon img {
  width: 2em;
}
.text {
  color: gray;
  margin-left: 0.5em;
  align-self: center;
}
.playlist {
  margin-top: 1em;
}

/* /SIDE BAR */
.user {
  width: 15%;
  height: 80px;
  align-self: flex-end;
  position: fixed;
  /* test */
  background-color: brown;
}
/* /MAIN */

/* FOOTER */
footer {
  height: 70px;
  width: 100%;
  /* test */
  background-color: aqua;
}
/* /FOOTER */
